The idea is to create a TTF comprised of the companies in the following sectors:
- Bank
- Insurance
- Energy
- Real Estate 
- Utilities
- Food & Staples Retailing

Each sector is arranged in its own sleeve by market cap. THe weight between the sleeves are done based on Sharpe optimization

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
from dateutil.relativedelta import relativedelta
import scipy.optimize as sco
from optimizer import GainyOptimizer
from ttf_filtering import FilterTTF
from connect import GetQuery

In [2]:
dt_today = "2022-11-24"

# Select stocks from sectors

We established which sectors usually perform well during inflation

In [3]:
groups_to_select = ['Utilities', 'Banks', 'Insurance', 'Real Estate', 'Energy', 'Food & Staples Retailing']

In [4]:
tickers = GetQuery(f"""
    SELECT tm.*, tg.gic_group
    FROM
    (select symbol, gic_group from base_tickers where gic_group IN {tuple(groups_to_select)}) tg
    LEFT JOIN
    (select symbol, market_capitalization from ticker_metrics) tm
    ON tg.symbol = tm.symbol
    
""")
tickers

     symbol  market_capitalization    gic_group
0       KRC           4.871015e+09  Real Estate
1       PRT           9.464915e+07       Energy
2     RBCAA           8.550364e+08        Banks
3      OBAS           6.687279e+07  Real Estate
4     PBR-A           7.027034e+10       Energy
...     ...                    ...          ...
1221    HBT           5.810900e+08        Banks
1222    KFS           1.707834e+08    Insurance
1223   ICCH           4.969346e+07    Insurance
1224   UMPQ           4.358424e+09        Banks
1225    USB           6.553952e+10        Banks

[1226 rows x 3 columns]

In [5]:
# Combine in one db
df = tickers.copy()
df = df.loc[~df.symbol.isin(['LFC','DCUE'])]

In [6]:
df.groupby('gic_group').market_capitalization.count()

gic_group
Banks                       431
Energy                      295
Food & Staples Retailing     29
Insurance                   108
Real Estate                 245
Utilities                   107
Name: market_capitalization, dtype: int64

# Create market cap weighted sleeves of stocks - max 5 stocks per sleeve

In [7]:
# Select top-10 in market cap
df = df.sort_values(['gic_group', 'market_capitalization'], ascending=False).groupby('gic_group').head(5).reset_index()
df

    index symbol  market_capitalization                 gic_group
0    1093    NEE           1.687496e+11                 Utilities
1    1191    DUK           7.588200e+10                 Utilities
2     100     SO           7.224433e+10                 Utilities
3     388    SRE           5.123628e+10                 Utilities
4     766      D           5.085477e+10                 Utilities
5    1109    PLD           1.066430e+11               Real Estate
6     207    AMT           1.016185e+11               Real Estate
7     403   EQIX           6.216432e+10               Real Estate
8     614    CCI           6.067868e+10               Real Estate
9    1098    PSA           5.233026e+10               Real Estate
10    306     CB           8.888295e+10                 Insurance
11    125    MMC           8.456475e+10                 Insurance
12   1116    PGR           7.611566e+10                 Insurance
13    328    AON           6.293295e+10                 Insurance
14    995    MET           6.019498e+10                 Insurance
15    513    WMT           4.137045e+11  Food & Staples Retailing
16   1162   COST           2.365674e+11  Food & Staples Retailing
17    575    SYY           4.361245e+10  Food & Staples Retailing
18    525    WBA           3.611459e+10  Food & Staples Retailing
19    724     KR           3.424416e+10  Food & Staples Retailing
20    576    XOM           4.678789e+11                    Energy
21    697    CVX           3.562538e+11                    Energy
22    975   SHEL           2.010452e+11                    Energy
23    672  RDS-B           1.955021e+11                    Energy
24    736    COP           1.579269e+11                    Energy
25    467    JPM           4.003231e+11                     Banks
26   1160    BAC           3.017236e+11                     Banks
27   1119    WFC           1.803505e+11                     Banks
28    669     RY           1.404096e+11                     Banks
29    978    HDB           1.276955e+11                     Banks

In [8]:
tickers = list(df.symbol)

In [10]:
# Filter ttfs
post_filter = FilterTTF(tickers, verbatim=False)
tickers = [ticker for ticker in post_filter ]


# Run optimizer
params = {'bounds': (0.01, 0.3), 'penalties': {'hs': 0.005, 'hi': 0.005, 'b': 0.05}}
optimizer = GainyOptimizer(tickers, dt_today, benchmark='SPY', lookback=9)
opt_res = optimizer.OptimizePortfolioRiskBudget(params=params)

In [17]:
tmp = pd.DataFrame.from_dict(opt_res, orient='index').reset_index()
tmp.columns=['symbol','weight']

df = tmp.merge(df, on='symbol')

In [19]:
df.groupby('gic_group').weight.sum()

gic_group
Banks                       0.211400
Energy                      0.124607
Food & Staples Retailing    0.199086
Insurance                   0.144114
Real Estate                 0.223744
Utilities                   0.097048
Name: weight, dtype: float64